<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
   
  
  
 
</p>

<p>
  <strong>Name:</strong>
   
  
  
 
</p>

<p>
  <strong>Description:</strong>
   
  
  
 
</p>

<p>
  <strong>Displaydescription:</strong>
   
  
  
 
</p>

<p>
  <strong>Open:</strong>
   
  
  
 
</p>

<p>
  <strong>Close:</strong>
   
  
  
 
</p>

<p>
  <strong>Timelimit:</strong>
   
  
  
 
</p>

<p>
  <strong>Whentimeexpires:</strong>
   
  
  
 
</p>

<p>
  <strong>Submissiongraceperiod:</strong>
   
  
  
 
</p>

<p>
  <strong>Gradecategory:</strong>
   
  
  
 
</p>

<p>
  <strong>Attemptsallowed:</strong>
   
  
  
 
</p>

<p>
  <strong>Gradingmethod:</strong>
   
  
  
 
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
