<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
   
  
  
 
</p>

<p>
  <strong>Project:</strong>
   
  
  
 
</p>

<p>
  <strong>Issuetype:</strong>
   
  
  
 
</p>

<p>
  <strong>Summary:</strong>
   
  
  
 
</p>

<p>
  <strong>Storypoints:</strong>
   
  
  
 
</p>

<p>
  <strong>Priority:</strong>
   
  
  
 
</p>

<p>
  <strong>Duedate:</strong>
   
  
  
 
</p>

<p>
  <strong>Components:</strong>
   
  
  
 
</p>

<p>
  <strong>Affectsversions:</strong>
   
  
  
 
</p>

<p>
  <strong>Fixversions:</strong>
   
  
  
 
</p>

<p>
  <strong>Assignee:</strong>
   
  
  
 
</p>

<p>
  <strong>Environment:</strong>
   
  
  
 
</p>

<p>
  <strong>Description:</strong>
   
  
  
 
</p>

<p>
  <strong>Labels:</strong>
   
   
   <span class ="w3-tag w3-red" > <%= @issue.labels %> </span>
  
  
 
</p>

<p>
  <strong>Epic:</strong>
   
  
  
 
</p>

<p>
  <strong>Sprint:</strong>
   
  
  
 
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
