<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
   
  
  
 
</p>

<p>
  <strong>Alias:</strong>
   
  
  
 
</p>

<p>
  <strong>Email:</strong>
   
  
  
 
</p>

<p>
  <strong>Username:</strong>
   
  
  
 
</p>

<p>
  <strong>Communitynickname:</strong>
   
  
  
 
</p>

<p>
  <strong>Title:</strong>
   
  
  
 
</p>

<p>
  <strong>Company:</strong>
   
  
  
 
</p>

<p>
  <strong>Department:</strong>
   
  
  
 
</p>

<p>
  <strong>Division:</strong>
   
  
  
 
</p>

<p>
  <strong>Address:</strong>
   
  
  
 
</p>

<p>
  <strong>Timezone:</strong>
   
  
  
 
</p>

<p>
  <strong>Locale:</strong>
   
  
  
 
</p>

<p>
  <strong>Language:</strong>
   
  
  
 
</p>

<p>
  <strong>Delegatedapprover:</strong>
   
  
  
 
</p>

<p>
  <strong>Manager:</strong>
   
  
  
 
</p>

<p>
  <strong>Role:</strong>
   
  
  
 
</p>

<p>
  <strong>Userlicense:</strong>
   
  
  
 
</p>

<p>
  <strong>Profile:</strong>
   
  
  
 
</p>

<p>
  <strong>Active:</strong>
   
  
  
 
</p>

<p>
  <strong>Marketinguser:</strong>
   
  
  
 
</p>

<p>
  <strong>Offlineuser:</strong>
   
  
  
 
</p>

<p>
  <strong>Knowledgeuser:</strong>
   
  
  
 
</p>

<p>
  <strong>Forcecomflowuser:</strong>
   
  
  
 
</p>

<p>
  <strong>Serviceclouduser:</strong>
   
  
  
 
</p>

<p>
  <strong>Sitecomcontributoruser:</strong>
   
  
  
 
</p>

<p>
  <strong>Sitecompublisheruser:</strong>
   
  
  
 
</p>

<p>
  <strong>Mobileuser:</strong>
   
  
  
 
</p>

<%= link_to 'Edit', edit_salesforceuser_path(@salesforceuser) %> |
<%= link_to 'Back', salesforceusers_path %>
