<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
   
  
  
 
</p>

<p>
  <strong>Owner:</strong>
   
  
  
 
</p>

<p>
  <strong>Firstname:</strong>
   
  
  
 
</p>

<p>
  <strong>Lastname:</strong>
   
  
  
 
</p>

<p>
  <strong>Company:</strong>
   
  
  
 
</p>

<p>
  <strong>Title:</strong>
   
  
  
 
</p>

<p>
  <strong>Status:</strong>
   
  
  
 
</p>

<p>
  <strong>Phone:</strong>
   
  
  
 
</p>

<p>
  <strong>Email:</strong>
   
  
  
 
</p>

<p>
  <strong>Street:</strong>
   
  
  
 
</p>

<p>
  <strong>City:</strong>
   
  
  
 
</p>

<p>
  <strong>State:</strong>
   
  
  
 
</p>

<p>
  <strong>Zipcode:</strong>
   
  
  
 
</p>

<p>
  <strong>County:</strong>
   
  
  
 
</p>

<p>
  <strong>Website:</strong>
   
  
  
 
</p>

<p>
  <strong>Numberofemployees:</strong>
   
  
  
 
</p>

<p>
  <strong>Annualrevenue:</strong>
   
  
  
 
</p>

<p>
  <strong>Source:</strong>
   
  
  
 
</p>

<p>
  <strong>Industry:</strong>
   
  
  
 
</p>

<p>
  <strong>Description:</strong>
   
  
  
 
</p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
