<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
   
  
  
 
</p>

<p>
  <strong>Description:</strong>
   
  
  
 
</p>

<p>
  <strong>Identifier:</strong>
   
  
  
 
</p>

<p>
  <strong>Homepage:</strong>
   
  
  
 
</p>

<p>
  <strong>Public:</strong>
   
  
  
 
</p>

<p>
  <strong>Subprojectof:</strong>
   
  
  
 
</p>

<p>
  <strong>Bugtracker:</strong>
   
  
  
 
</p>

<p>
  <strong>Featuretracker:</strong>
   
  
  
 
</p>

<p>
  <strong>Supporttracker:</strong>
   
  
  
 
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
