<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
   
  
  
 
</p>

<p>
  <strong>Title:</strong>
   
  
  
 
</p>

<p>
  <strong>Summary:</strong>
   
  
  
 
</p>

<p>
  <strong>Preconditions:</strong>
   
  
  
 
</p>

<p>
  <strong>Status:</strong>
   
  
  
 
</p>

<p>
  <strong>Importance:</strong>
   
  
  
 
</p>

<p>
  <strong>Minutes:</strong>
   
  
  
 
</p>

<%= link_to 'Edit', edit_testcase_path(@testcase) %> |
<%= link_to 'Back', testcases_path %>
