<p id="notice"><%= notice %></p>

<p>
  <strong>Loginname:</strong>
   
  
  
 
</p>

<p>
  <strong>Realname:</strong>
   
  
  
 
</p>

<p>
  <strong>Password:</strong>
   
  
  
 
</p>

<p>
  <strong>Bugmaildisabled:</strong>
   
  
  
 
</p>

<p>
  <strong>Disabletext:</strong>
   
  
  
 
</p>

<p>
  <strong>Adminpermission:</strong>
   
  
  
 
</p>

<p>
  <strong>Creategroupspermission:</strong>
   
  
  
 
</p>

<p>
  <strong>Edituserspermission:</strong>
   
  
  
 
</p>

<%= link_to 'Edit', edit_bugzillauser_path(@bugzillauser) %> |
<%= link_to 'Back', bugzillausers_path %>
