<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
   
  
  
 
</p>

<p>
  <strong>Fullname:</strong>
   
  
  
 
</p>

<p>
  <strong>Shortname:</strong>
   
  
  
 
</p>

<p>
  <strong>Courseidnumber:</strong>
   
  
  
 
</p>

<p>
  <strong>Summary:</strong>
   
  
  
 
</p>

<p>
  <strong>Format:</strong>
   
  
  
 
</p>

<p>
  <strong>Numberofweekstopics:</strong>
   
  
  
 
</p>

<p>
  <strong>Start:</strong>
   
  
  
 
</p>

<p>
  <strong>Hiddensections:</strong>
   
  
  
 
</p>

<p>
  <strong>Newsitemstoshow:</strong>
   
  
  
 
</p>

<p>
  <strong>Showgrades:</strong>
   
  
  
 
</p>

<p>
  <strong>Showactivityreports:</strong>
   
  
  
 
</p>

<p>
  <strong>Maxuploadsize:</strong>
   
  
  
 
</p>

<p>
  <strong>Defaultroles:</strong>
   
  
  
 
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
