<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
   
  
  
 
</p>

<p>
  <strong>Owner:</strong>
   
  
  
 
</p>

<p>
  <strong>Name:</strong>
   
  
  
 
</p>

<p>
  <strong>Active:</strong>
   
  
  
 
</p>

<p>
  <strong>Type:</strong>
   
  
  
 
</p>

<p>
  <strong>Status:</strong>
   
  
  
 
</p>

<p>
  <strong>Start:</strong>
   
  
  
 
</p>

<p>
  <strong>End:</strong>
   
  
  
 
</p>

<p>
  <strong>Expectedrevenue:</strong>
   
  
  
 
</p>

<p>
  <strong>Budgetedcost:</strong>
   
  
  
 
</p>

<p>
  <strong>Actualcost:</strong>
   
  
  
 
</p>

<p>
  <strong>Expectedresponse:</strong>
   
  
  
 
</p>

<p>
  <strong>Numsent:</strong>
   
  
  
 
</p>

<p>
  <strong>Parentcampaign:</strong>
   
  
  
 
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
