<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
   
  
  
 
</p>

<p>
  <strong>Name:</strong>
   
  
  
 
</p>

<p>
  <strong>Model:</strong>
   
  
  
 
</p>

<p>
  <strong>Sku:</strong>
   
  
  
 
</p>

<p>
  <strong>Weight:</strong>
   
  
  
 
</p>

<p>
  <strong>Manufacturer:</strong>
   
  
  
 
</p>

<p>
  <strong>Status:</strong>
   
  
  
 
</p>

<p>
  <strong>Taxclass:</strong>
   
  
  
 
</p>

<p>
  <strong>Urlkey:</strong>
   
  
  
 
</p>

<p>
  <strong>Visibility:</strong>
   
  
  
 
</p>

<p>
  <strong>Setproductasnewfromdate:</strong>
   
  
  
 
</p>

<p>
  <strong>Setproductasnewtodate:</strong>
   
  
  
 
</p>

<p>
  <strong>Countryofmanufacture:</strong>
   
  
  
 
</p>

<p>
  <strong>Price:</strong>
   
  
  
 
</p>

<p>
  <strong>Cost:</strong>
   
  
  
 
</p>

<p>
  <strong>Specialprice:</strong>
   
  
  
 
</p>

<p>
  <strong>Specialpricefromdate:</strong>
   
  
  
 
</p>

<p>
  <strong>Specialpricetodate:</strong>
   
  
  
 
</p>

<p>
  <strong>Applymap:</strong>
   
  
  
 
</p>

<p>
  <strong>Displayactualprice:</strong>
   
  
  
 
</p>

<p>
  <strong>Suggestedretailprice:</strong>
   
  
  
 
</p>

<p>
  <strong>Metatitle:</strong>
   
  
  
 
</p>

<p>
  <strong>Metakeywords:</strong>
   
  
  
 
</p>

<p>
  <strong>Metadescription:</strong>
   
  
  
 
</p>

<p>
  <strong>Shortdescription:</strong>
   
  
  
 
</p>

<p>
  <strong>Description:</strong>
   
  
  
 
</p>

<p>
  <strong>Indepth:</strong>
   
  
  
 
</p>

<p>
  <strong>Dimensions:</strong>
   
  
  
 
</p>

<p>
  <strong>Activationinformation:</strong>
   
  
  
 
</p>

<p>
  <strong>Color:</strong>
   
  
  
 
</p>

<p>
  <strong>Customdesign:</strong>
   
  
  
 
</p>

<p>
  <strong>Activefrom:</strong>
   
  
  
 
</p>

<p>
  <strong>Activeto:</strong>
   
  
  
 
</p>

<p>
  <strong>Customlayoutupdate:</strong>
   
  
  
 
</p>

<p>
  <strong>Displayproductoptionsin:</strong>
   
  
  
 
</p>

<p>
  <strong>Pagelayout:</strong>
   
  
  
 
</p>

<p>
  <strong>Enablerecurringprofile:</strong>
   
  
  
 
</p>

<p>
  <strong>Allowgiftmessage:</strong>
   
  
  
 
</p>

<p>
  <strong>Managestock:</strong>
   
  
  
 
</p>

<p>
  <strong>Qty:</strong>
   
  
  
 
</p>

<p>
  <strong>Qtyforitemsstatustobecomeoutofstock:</strong>
   
  
  
 
</p>

<p>
  <strong>Minimumqtyallowedinshoppingcart:</strong>
   
  
  
 
</p>

<p>
  <strong>Maximumqtyallowedinshoppingcart:</strong>
   
  
  
 
</p>

<p>
  <strong>Qtyusesdecimals:</strong>
   
  
  
 
</p>

<p>
  <strong>Backorders:</strong>
   
  
  
 
</p>

<p>
  <strong>Notifyforquantitybelow:</strong>
   
  
  
 
</p>

<p>
  <strong>Enableqtyincrements:</strong>
   
  
  
 
</p>

<p>
  <strong>Stockavailability:</strong>
   
  
  
 
</p>

<p>
  <strong>Tags:</strong>
    
   <span class ="w3-tag w3-green" > <%= @product.tags %> </span>
  
  
  
 
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
