<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
   
  
  
 
</p>

<p>
  <strong>Product:</strong>
   
  
  
 
</p>

<p>
  <strong>Description:</strong>
   
  
  
 
</p>

<p>
  <strong>Openforbugentry:</strong>
   
  
  
 
</p>

<p>
  <strong>Enableunconfirmedstatus:</strong>
   
  
  
 
</p>

<p>
  <strong>Maxvotesperperson:</strong>
   
  
  
 
</p>

<p>
  <strong>Maxvotespersonperbug:</strong>
   
  
  
 
</p>

<p>
  <strong>Confirmbugsvotes:</strong>
   
  
  
 
</p>

<p>
  <strong>Version:</strong>
   
  
  
 
</p>

<p>
  <strong>Createchartdatasets:</strong>
   
  
  
 
</p>

<p>
  <strong>Component:</strong>
   
  
  
 
</p>

<p>
  <strong>Componentdescription:</strong>
   
  
  
 
</p>

<p>
  <strong>Defaultassignee:</strong>
   
  
  
 
</p>

<p>
  <strong>Defaultcclist:</strong>
   
  
  
 
</p>

<%= link_to 'Edit', edit_bugzillaproduct_path(@bugzillaproduct) %> |
<%= link_to 'Back', bugzillaproducts_path %>
